.panel_container {
    // height: calc(100% - 100px);
    width: calc(100% - 5px);
    // height: 100%;
    .panel_title {
        width: 100%;
        height: 35px;
        padding-left: 5px;
        background: rgb(58, 177, 58);
        div:first-child {
            float: left;
            height: 35px;
            width: 100px;
            span {
                float: left;
                height: 35px;
                line-height: 35px;
            }
            img {
                float: left;
                width: 35px;
                height: 35px;
            }
        }
        div:last-child {
            float: right;
            img {
                width: 35px;
                height: 35px;
                margin-right: 3px;
            }
        }
    }
}